<!DOCTYPE html>
<html lang="ko" layout:decorate="~{test}">
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" th:href="@{/chat.css}">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"/>
</head>
<body>
<nav th:fragment="chatting" style="width: 100%;">
    <div style="display : flex; flex-direction: column; height : 100%;">
        <div class="scrollbar" style="height : 80%;">
            <div class="roomName">
                <div id="msgArea" th:if="${room.name != 'test'}" class="col" style="height : 100px;"></div>
            </div>
        </div>
        <div class="input-group-append" style="height : 20%; display: flex; flex-direction: column;">
            <textarea id="msg" class="form-control" style="height : 80%; resize: none;"></textarea>
            <div style="display: flex; justify-content: space-between; flex-direction: row-reverse;">
                <button class="btn btn-outline-secondary" type="button" id="button-send">전송</button>
            </div>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/sockjs-client@1/dist/sockjs.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <script th:inline="javascript">
        var room = [[${room.name}]];
        var roomNameElement = document.querySelector('.roomName');
        var messageList =[[${messageList}]];
        var str = '';
        var roomId = [[${room.Id}]];
        var username = [[${#authentication.principal.username}]];

        $(document).ready(function(){

           if (!(room != null && room !== '' && room !== "test")) {
               roomNameElement.innerText = '채팅방을 선택해주세요.';
           }

           if (!writer || !username || writer.trim() === '' || username.trim() === '') {
                console.error('Writer or username is empty.');
                return;
            }

           if(messageList != null){
                messageList.forEach(function(message) {
                    var date = new Date(message.time);
                    getStrTime(date);
                    showMessage(message,date,message.writer);
                });
           }

           var sockJs = new SockJS("/stomp/chat");
           //1. SockJS를 내부에 들고있는 stomp를 내어줌
           var stomp = Stomp.over(sockJs);

           //2. connection이 맺어지면 실행
           stomp.connect({}, function (){
           console.log("STOMP Connection")

               //4. subscribe(path, callback)으로 메세지를 받을 수 있음
               stomp.subscribe("/sub/chat/room/" + roomId, function (chat) {
                   var now  = new Date(content.time);
                   var content = JSON.parse(chat.body);
                   var writer = content.writer;
                   getStrTime(now);
                   showMessage(content,now,writer);
               });

               //3. send(path, header, message)로 메세지를 보낼 수 있음
               stomp.send('/pub/chat/enter', {}, JSON.stringify({roomId: roomId, writer: username}))
           });

           // 전송 버튼 클릭했을 때의 동작
           $("#button-send").on("click", function(e) {
               sendMessage();
           });

           function getStrTime(Date nowDate){
                let hours = nowDate.getHours();
                let minutes = nowDate.getMinutes();
                console.log(hours,minutes);
                let ampm = hours >= 12 ? '오후' : '오전';
                hours = hours % 12;
                hours = hours ? hours : 12;
                minutes = minutes.toString().padStart(2, '0');
                let strTime = ampm + ' ' + hours + ':' + minutes;
           }

           function showMessage(content, writer){
                if(writer === username){
                   str = "<div class='myChat'>";
                   str += "<div class='alert alert-secondary'>";
                   str += "<span class='chatTime'>" + strTime + "</span>";
                   str += "<span class='chatBox'>" + content.message + "</span>";
                   str += "</div></div>";
                   $("#msgArea").append(str);
               }
               else{
                   str = "<div class='otherChat'>";
                   str += "<div class='alert alert-warning'>";
                   str += "<span class='otherBox'>" + content.message + "</span>";
                   str += "<span class='otherTime'>" + strTime + "</span>";
                   str += "</div></div>";
                   $("#msgArea").append(str);
               }
           }

           function sendMessage() {
               var msg = document.getElementById("msg").value;
               if (msg.trim() !== '') {
                   stomp.send('/pub/chat/message', {}, JSON.stringify({roomId: roomId, message: msg, writer: username}));
                   document.getElementById("msg").value = '';
               } else {
                   alert("내용을 입력해주세요");
               }
           }

           $('textarea').on('keydown', function(event) {
               if (event.keyCode == 13)
                   if (!event.shiftKey){
                       event.preventDefault();
                       sendMessage();
                   }
           });
        });
    </script>
</nav>
</body>
</html>