<!DOCTYPE html>
<html lang="ko" layout:decorate="~{top_layout}">
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" th:href="@{/games.css}">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"/>
</head>
<body>
<div layout:fragment="content" class="menuDetail"  style="display: flex; justify-content: center; width: 100%; height: 100%;">
    <div class="scrollbar" style="margin-top : 150px; margin-bottom : 100px; display: flex; flex-wrap: wrap; width: 80%; background: #FAFAD2; padding: 16px; border-radius: 10px;">
        <div id="wrap" th:each="games, iterStat : ${gamesList}" th:if="${iterStat.index lt 15}"
             style="display: flex; flex-direction: column; align-items: center;">
            <div class="card">
                <div class="card-front">
                    <img th:src="${games.imgUrl}" style="border-radius: 10px; width : 90%;">
                </div>
                <div class="card-back" style="display: flex; position: relative;">
                    <div style="position: relative;">
                        <img th:src="${games.imgUrl}" style="width: 100%; height: 100%; border-radius: 20px;">
                        <div style="position: absolute; top: 0; left: 0; width: 100%; height: 100%; background-color: rgba(0, 0, 0, 0.8); border-radius: 20px;"></div>
                    </div>
                    <div style="position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); color: white; text-align: center;">
                        <div style="display: flex; justify-content: space-around; align-items: center;">
                            <img src="/img/clock.png" th:if="${games.playTime != ''}" style="width : 15px;">
                            <span th:text="${games.playTime}" style="font-size: 15px;">
                            </span>
                        </div>
                        <div style="display: flex; justify-content: space-around; align-items: center;">
                            <img src="/img/people2.png" th:if="${games.playerNm != ''}" style="width : 23px;">
                            <span th:text="${games.playerNm}" style="font-size: 15px;">
                            </span>
                        </div>
                        <div style="display: flex; justify-content: space-around; align-items: center;">
                            <img src="/img/person.png" th:if="${games.playerAg != ''}" style="width : 26px;">
                            <span th:text="${games.playerAg}" style="font-size: 15px;">
                            </span>
                        </div>
                        <div style="display: flex; justify-content: space-around; align-items: center;">
                            <img src="/img/coin.png" th:if="${games.price != ''}" style="width : 14px;">
                            <span th:text="${#numbers.formatInteger(games.price, 3, 'COMMA') + '원'}" style="font-size: 15px;">
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            <div style="display: flex; justify-content: center; word-break:break-all; width : 220px;">
                <span th:text="${games.name}" style="font-size: 15px; font-weight: bold; text-align: center;"></span>
            </div>
        </div>
    </div>
    <script th:inline="javascript">
        var menuDetail = document.querySelector('.menuDetail');
        menuDetail.id = 'Games';
    </script>
</div>
</body>
</html>