<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/login.css">
</head>
<body>
<nav th:fragment="login">
    <button class="button btn-open-modal" sec:authorize="isAnonymous()">Login</button>
    <button class="button" sec:authorize="isAuthenticated()"><a th:href="@{/user/logout}">Log Out</a></button>

    <dialog class="box none">
        <div style="display : flex; justify-content: flex-end;">
            <button class="btn-close-modal" onclick="closeModal()" style="display : flex; width : fit-content;">X
            </button>
        </div>
        <form th:action="@{/user/login}" method="post">
            <div th:if="${param.error}">
                <div class="alert alert-danger">
                    사용자ID 또는 비밀번호를 확인해 주세요.
                </div>
            </div>
            <h1>Login</h1>
            <input type="text" name="username" id="username" placeholder="Username" required>
            <input type="password" name="password" id="password" placeholder="Password" required>
            <input type="submit" name="" value="Login">
        </form>
    </dialog>
    <script type="text/javascript" src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
    <script>
        const openBtn = document.querySelector('.btn-open-modal');
        const closeBtn = document.querySelector('.btn-close-modal');
        const modal = document.querySelector('.box');

        openBtn.addEventListener('click', showModal);
        closeBtn.addEventListener('click', closeModal);

        function showModal() {
            modal.showModal();
        }

        function closeModal() {
            modal.close();
        }

    </script>
</nav>
</body>
</html>